<div
  class="bg-[#074643] text-white px-6 py-12 md:px-12 md:py-24 flex flex-col md:flex-row items-center justify-between"
>
  <div class="md:w-1/2">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">HELLO I AM</h1>
    <h2 class="text-3xl md:text-4xl font-semibold mb-4">Mohamed Rami</h2>
    <p class="text-lg mb-4">
      <small
        >Full Stack Web Developer React JS | Angular | Node JS |
        Freelancer</small
      >
    </p>
    <!-- <button
      class="bg-black text-white py-2 px-6 rounded-full mt-4 mb-2 hover:bg-gray-800"
    >
      START CONSULTING
    </button>
    <div class="flex items-center mt-4">
      <span class="bg-green-800 rounded-full h-3 w-3 mr-2"></span>
      <p class="text-sm">Lorem ipsum dolor sit</p>
    </div> -->
  </div>
  <div class="md:w-1/2 flex justify-center items-center relative mt-8 md:mt-0">
    <img
      src="../../assets/me.jpeg"
      alt="Person"
      class="rounded-full border-4 border-blue-500 w-64 h-64 md:w-80 md:h-80 object-cover"
    />
    <!-- <div
      class="absolute bg-white text-black p-4 rounded-md top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <p class="text-xl font-bold">10K</p>
      <p class="text-sm">Lorem ipsum dolor sit</p>
    </div> -->
  </div>
</div>

<div class="bg-white px-6 py-12 md:px-12 md:py-24">
  <h2 class="text-3xl md:text-4xl font-bold mb-6">About Me</h2>
  <p class="text-lg mb-6">I like creating a cool project</p>
  <div class="flex items-center mb-6">
    <a
      href="#"
      class="bg-black text-white py-2 px-6 rounded-full hover:bg-gray-800 mr-4"
      >DOWNLOAD CV</a
    >
    <div class="flex space-x-4">
      <a href="#" class="text-black hover:text-gray-700"
        ><i class="fab fa-instagram text-2xl"></i
      ></a>
      <a href="#" class="text-black hover:text-gray-700"
        ><i class="fab fa-twitter text-2xl"></i
      ></a>
      <a href="#" class="text-black hover:text-gray-700"
        ><i class="fab fa-facebook text-2xl"></i
      ></a>
    </div>
  </div>
  <div>
    <p class="text-lg mb-4">
      <small>
        Passionate and dedicated web developer with three years of hands-on
        experience, I specialize in leveraging modern technologies such as
        TypeScript and Node.js to build robust and efficient web applications.
        My enthusiasm for web development drives me to tackle challenges
        head-on, constantly pushing the boundaries of what's possible. Committed
        to staying at the forefront of emerging technologies, I eagerly embrace
        new tools and techniques to optimize web performance and deliver
        cutting-edge solutions. Experienced in both MERN (MongoDB, Express.js,
        React, Node.js) and MEAN (MongoDB, Express.js, Angular, Node.js) stacks,
        I excel at crafting seamless user experiences across the full stack. My
        passion for web development fuels my desire to continuously enhance my
        skills and contribute to innovative projects that shape the future of
        the web. Let's connect and collaborate on building the web of tomorrow
        together.
      </small>
    </p>
    <p class="text-lg font-semibold">Mohamed Rami</p>
  </div>
</div>
