.color-change {
  animation: colorChange 1s infinite; // Change color every 1 second
}

@keyframes colorChange {
  0% {
    color: #ff7e5f; // Starting color
  }
  25% {
    color: #feb47b;
  }
  50% {
    color: #86a8e7;
  }
  75% {
    color: #d4fc79;
  }
  100% {
    color: #ff7e5f; // Loop back to the starting color
  }
}
