/* Custom animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apply animations to swiper slides */
.swiper-slide {
  animation: fadeInUp 0.6s both;
}

.swiper-slide-active {
  animation: fadeIn 0.6s both;
}
