<div dir="rtl"
     class="bg-[#074643] text-white px-6 py-12 md:px-12 md:py-24 flex flex-col md:flex-row items-center justify-between"
>
  <div class="md:w-1/2">
    <h1 class="text-4xl md:text-5xl font-bold mb-4 color-change">مرحباً، أنا</h1>
    <h2 class="text-3xl md:text-4xl font-semibold mb-4 color-change">محمد رامي</h2>
    <p class="text-lg mb-4 ">
      <small>
        مطور ويب Full Stack | React JS | Angular | Node JS | فريلانسر
      </small>
    </p>
  </div>
  <div class="md:w-1/2 flex justify-center items-center relative mt-8 md:mt-0">
    <img
      src="../../assets/me.jpeg"
      alt="الشخص"
      class="rounded-full border-4 border-blue-500 w-64 h-64 md:w-80 md:h-80 object-cover"
    />
  </div>
</div>

<div dir="rtl" class="bg-white px-6 py-12 md:px-12 md:py-24">
  <h2 class="text-3xl md:text-4xl font-bold mb-6">عنّي</h2>
  <p class="text-lg mb-6">أحب إنشاء شيء رائع 🚀</p>
  <div class="flex items-center mb-6">
    <div class="flex space-x-4">
      <a
        href="https://api.whatsapp.com/send/?phone=212682917806&text&type=phone_number&app_absent=0"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/15707/15707820.png"
        alt="واتساب"
      />
      </a>
      <a
        href="https://github.com/si-mrami"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png"
        alt="GitHub"
      /></a>
      <a
        href="https://www.linkedin.com/in/mohamed-rami-18a472216/"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png"
        alt="LinkedIn"
      /></a>
    </div>
  </div>
  <div>
    <p class="text-lg mb-4">
      <small>
        مطور ويب متحمس ومتفاني مع ثلاث سنوات من الخبرة العملية، أتخصص في
        الاستفادة من التقنيات الحديثة مثل TypeScript وNode.js لبناء تطبيقات
        ويب قوية وفعّالة. يحفزني شغفي بتطوير الويب لمواجهة التحديات
        مباشرة، ودائمًا ما أدفع حدود ما هو ممكن. أنا ملتزم بالبقاء في
        مقدمة التقنيات الناشئة، وأتبنى بكل حماس أدوات وتقنيات جديدة لتحسين
        أداء الويب وتقديم حلول مبتكرة. لدي خبرة في كل من MERN (MongoDB,
        Express.js, React, Node.js) وMEAN (MongoDB, Express.js, Angular, Node.js)،
        وأتفوق في إنشاء تجارب مستخدم سلسة عبر جميع الطبقات. شغفي بتطوير
        الويب يدفعني باستمرار لتحسين مهاراتي والمساهمة في مشاريع مبتكرة
        تشكل مستقبل الويب. دعونا نتواصل ونتعاون لبناء ويب الغد معًا.
      </small>
    </p>
  </div>
</div>
