<div
  class="bg-[#074643] text-white px-6 py-12 md:px-12 md:py-24 flex flex-col md:flex-row items-center justify-between"
>
  <div class="md:w-1/2">
    <h1 class="text-4xl md:text-5xl font-bold mb-4 color-change">HELLO I AM</h1>
    <h2 class="text-3xl md:text-4xl font-semibold mb-4 color-change">Mohamed Rami</h2>
    <p class="text-lg mb-4 ">
      <small>
        Full Stack Web Developer React JS | Angular | Node JS | Freelancer
      </small>
    </p>
  </div>
  <div class="md:w-1/2 flex justify-center items-center relative mt-8 md:mt-0">
    <img
      src="../../assets/me.jpeg"
      alt="Person"
      class="rounded-full border-4 border-blue-500 w-64 h-64 md:w-80 md:h-80 object-cover"
    />
  </div>
</div>

<div class="bg-white px-6 py-12 md:px-12 md:py-24">
  <h2 class="text-3xl md:text-4xl font-bold mb-6">About Me</h2>
  <p class="text-lg mb-6">I like creating something cool 🚀</p>
  <div class="flex items-center mb-6">
    <div class="flex space-x-4">
      <a
        href="https://api.whatsapp.com/send/?phone=212682917806&text&type=phone_number&app_absent=0"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/15707/15707820.png"
        alt="WhatsApp"
      />
      </a>
      <a
        href="https://github.com/si-mrami"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png"
        alt="GitHub"
      /></a>
      <a
        href="https://www.linkedin.com/in/mohamed-rami-18a472216/"
        class="text-black hover:text-gray-700"
      ><img
        class="w-8 h-8"
        src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png"
        alt="LinkedIn"
      /></a>
    </div>
  </div>
  <div>
    <p class="text-lg mb-4">
      <small>
        Passionate and dedicated web developer with three years of hands-on
        experience, I specialize in leveraging modern technologies such as
        TypeScript and Node.js to build robust and efficient web applications.
        My enthusiasm for web development drives me to tackle challenges
        head-on, constantly pushing the boundaries of what's possible. Committed
        to staying at the forefront of emerging technologies, I eagerly embrace
        new tools and techniques to optimize web performance and deliver
        cutting-edge solutions. Experienced in both MERN (MongoDB, Express.js,
        React, Node.js) and MEAN (MongoDB, Express.js, Angular, Node.js) stacks,
        I excel at crafting seamless user experiences across the full stack. My
        passion for web development fuels my desire to continuously enhance my
        skills and contribute to innovative projects that shape the future of
        the web. Let's connect and collaborate on building the web of tomorrow
        together.
      </small>
    </p>
  </div>
</div>
