<footer class="bg-[#074643] text-white py-4">
  <div class="container mx-auto text-center">
    <div class="mb-4">
      <a href="#" class="text-gray-400 hover:text-white mx-2">Home</a>
      <a href="#" class="text-gray-400 hover:text-white mx-2">About</a>
      <a href="#" class="text-gray-400 hover:text-white mx-2">Services</a>
      <a href="#" class="text-gray-400 hover:text-white mx-2">Contact</a>
    </div>
    <div class="mb-4">
      <p class="text-gray-400">
        Phone:
        <a href="tel:+212682917806" class="hover:text-white">+212 682-917806</a>
      </p>
      <p class="text-gray-400">
        Email:
        <a href="mailto:si.mohamedrami1902@gmail.com" class="hover:text-white"
          >si.mohamedrami1902&#64;gmail.com
        </a>
      </p>
    </div>
    <div class="text-gray-400">&copy; 2024 Mrami. All rights reserved.</div>
  </div>
</footer>
