.skills-container {
  // max-width: 600px;
  // margin: 0 auto;
}

.tabs .tab {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  padding: 1rem;
  border-radius: 10px;
  background-color: #074643;
  flex-direction: column;
}

.skill-bar-container {
  position: relative;
  width: 100%;
}

.skill-level {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.875rem;
  color: #000;
}
